<p> Found <%= pluralize(@restaurants.count, 'Restaurant') %> when searching for: <%= params[:keywords] %> </p>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant %></li>
    <% end %>
</ul>